@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    font-family: 'Rajdhani', sans-serif;
    color: #3f3f3f;

}

header {
    font-family: 'Rajdhani', sans-serif;
    color: #3f3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

main {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


footer {
    display: flex;
    justify-content: center;
    height: 10vh;
}

