@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}